node_modules/

/.idea/
.DS_Store
.vscode/settings.json

.env.local

logs/

/playwright/.cache/
playwright/.auth
/playwright-report/
/reports/*
!/reports/.gitkeep
/blob-report/

allure-results/
/test-results/

